{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.contact_list'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.contact_list'|trans }}</h1>
    {% if pagination is defined and pagination.items|length %}

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

        <th><a href="{{ url('contact_create') }}" title="{{ 'action.create'|trans }}" class="{{ 'btn btn-light' }}">
                {{ 'action.create'|trans }}
            </a>
        </th>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'label.id'|trans, 'label.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.created_at'|trans, 'label.created_at') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.updated_at'|trans, 'label.updated_at') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.name'|trans, 'label.name') }}</th>
                <th>{{ 'label.email'|trans }}</th>
                <th>{{ 'label.phone_number'|trans }}</th>
                <th>{{ 'label.actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for contact in pagination.items %}
                <tr>
                    <td>{{ contact.id }}</td>
                    <td>{{ contact.createdAt|format_date('long') }}</td>
                    <td>{{ contact.updatedAt|format_date('long') }}</td>
                    <td>{{ contact.name }}</td>
                    <td>{{ contact.email }}</td>
                    <td>{{ contact.phoneNumber }}</td>
                    <td>

                        <a href="{{ url('contact_show', {id: contact.id}) }}" title="{{ 'action.show'|trans }}" class="{{ 'btn btn-light' }}">
                            {{ 'action.show'|trans }}
                        </a>
                        <a href="{{ url('contact_edit', {id: contact.id}) }}" title="{{ 'action.edit'|trans }}" class="{{ 'btn btn-light' }}">
                            {{ 'action.edit'|trans }}
                        </a>

                        <a href="{{ url('contact_delete', {id: contact.id}) }}" title="{{ 'action.delete'|trans }}" class="{{ 'btn btn-light' }}">
                            {{ 'action.delete'|trans }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        <p>
            {{ 'message.empty_list'|trans }}
        </p>
    {% endif %}
{% endblock %}
