{% extends 'base.html.twig' %}

{% block title %}
    Today's Events
{% endblock %}

{% block body %}
    <h1>Today's Events</h1>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>id</th>
            <th>created at</th>
            <th>updated at</th>
            <th>name</th>
            <th>category</th>
            <th>date</th>
            <th>action</th>

        </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr>
                <td>{{ event.id }}</td>
                <td>{{ event.createdAt|format_date('long') }}</td>
                <td>{{ event.updatedAt|format_date('long') }}</td>
                <td>{{ event.name }}</td>
                <td>
                    <a href="{{ url('event_index', {'filters.category_id' : event.category.id}) }}" title="{{ event.category.title }}">
                        {{ event.category.title }}
                    </a>
                </td>
                <td>{{ event.date|format_date('long') }}</td>
                <td>

                    <a href="{{ url('event_show', {id: event.id}) }}" title="{{ 'event.show'|trans }}">
                        {{ 'action.show'|trans }}
                    </a>
                    <a href="{{ url('event_edit', {id: event.id}) }}" title="{{ 'event.edit'|trans }}">
                        {{ 'edit'|trans }}
                    </a>

                    <a href="{{ url('event_delete', {id: event.id}) }}" title="{{ 'event.delete'|trans }}">
                        {{ 'delete'|trans }}
                    </a>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <p>
        <a href="{{ url('event_index') }}" title="{{ 'action.back_to_list'|trans }}" class="{{ 'btn btn-light' }}">
            {{ 'action.back_to_list'|trans }}
        </a>
    </p>

{% endblock %}
